body {
    color: #6c757d;
    font-family: Helvetica;
}

header {
    text-align: center;
    color: #997099;
    font-size: 26px;
}

main {
    min-width: 375px;
}

section {
    box-sizing: border-box;
    background-color: #fff1ff;
    box-shadow: #997099 0px -1px 3px;
    margin: 16px 0;
}

#div-searchResults {
    margin-bottom: 45px;   
}

.hide {
    display: none;
}

.gifImg {
    border: 1px solid #333;
}

.span-rating {
    display: block;
    text-align: center;
    font-weight: bold;
}

/* header::after, section::after {
    content: "";
    display: table;
    clear: both;
} */

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px 0;
    background-color:#666666;
    color: #cccccc;
    text-align: center;
    font-size: 12px;
    border-top: 3px solid #ccc;
}

@media screen AND (max-width: 920px) {

}
